.header{
    height: 100vh;
    background-color: rgba(177, 177, 238, 0.542);
}
.calc{
    margin-top: 60px;
    height: 60vh;
    border-radius: 15px;
    margin-top: 60px;
    position: relative;
    border-top: black solid 33vh;
    border-bottom: rgba(150, 61, 61, 0.604) solid 50vh;
}
.btns{
    margin-top: 0px;
}
.buttons{
    margin-bottom: 40px;
    position: relative;
    left: 5%;
}
.buttons0{
    margin-bottom: 30px;
}
.btn1{
    margin-right: 25px;
    font-size: 30px;
    font-weight: bolder;
    color: white;
}
input[type=text]{
    width: 100%;
    position: absolute;
    font-size: 35px;
    height: 70px;
    top: -69px;
    left: 0.1%;
    text-align: right;
    border: none;
    display:inline-block;

}
@media (max-width:600px){
    .calc{
        margin-top: 0%;
        height: 100vh;
        border-top:black solid 40vh ;
        background-color: brown;
        border-radius: 0 0 10px 10px;
        border-bottom: rgba(150, 61, 61, 0.604) solid 60vh;
    }
    .buttons{
        margin-bottom: 50px;
    }
    
    .btn1{
        font-size: 25px;
      
    }
}